.DS_Store
.git

.vscode
.editorconfig
.github
vitest
playwright
.prettierc
.prettierignore
next-env.d.ts
deployment
.eslintrc.json
.eslintignore
README.md
*.tsbuildinfo
components.json

Dockerfile
docker-compose.yaml
docker-compose.dev.yaml

node_modules
dist
.next
test-results
media
product_files

.env
.env.*

