node_modules
dist
.next
.github
.git
.vscode
test-results
media
product_files
.env
.env.*
vitest
Dockerfile
.editorconfig
.DS_Store
.prettier
.prettier
docker-compose.yaml
docker-compose.dev.yaml
next-env.d.ts
README.md
.eslintrc.json
.eslintignore
