version: '3'
name: webbid-development

services:
  database:
    image: 'postgres:latest'

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    ports:
      - ${POSTGRES_PORT}:5432

  smtp-server:
    image: 'datydock/mailslurper'

    ports:
      - 8080:8080
      - 8085:8085
      - 2500:2500
